@charset "UTF-8";

header {
    padding: 1rem 0;
}

section {
    margin: 20px;
}

.card-posicao-imagem-integrantes{
    object-fit: cover;
    height: 300px;
}

#quem-somos{
    height: 130px;
    background-color: darkred;
    color: white;
    text-align: center;
    padding: 2rem 0;
}