@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
}

.fonte-titulo {
    font-family: "Pacifico", cursive;
}

header {
    padding: 1rem 0;
}

section {
    margin: 20px;
}

.card {
    display: flex;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.card-largura{
    max-width: 18rem;
}

.imagem-card {
    width: 100px;  
    height: 100px;  
    border-radius: 50%;  
    margin-right: 15px;
}

.info-card {
    flex: 1; 
}

.redes-sociais a {
    margin-right: 10px;
    color: blue;
    text-decoration: none;
}

.redes-sociais a:hover {
    text-decoration: underline;
}
